<section id="video">
    <div class="container">
        <div class='row'>
            <h2 class='fancy'><span>Видео</span></h2>
        </div>
        <div id="video-wrap">
            {% for v in monocle_youtube_channels %}
                <div class="a_video">
                    <a href="https://www.youtube.com/embed/{{ v.id }}" data-title="{{ v.title}}"  data-toggle="lightbox" data-remote="https://www.youtube.com/embed/{{ v.id }}">
                        <div class="player_badge"></div>
                        <img class="img-responsive" src="{{ v.thumnails }}">
                        <!-- <iframe src="https://www.youtube.com/embed/{{ v.id }}" frameborder="0" allowfullscreen></iframe> -->
                    </a>

                    <p>{{ v.title}}</p>
                </div>
            {% endfor %}
        </div>

        <script>
        $(document).ready(function() {
            $('#video-wrap').owlCarousel({
                items: 3,
                lazyLoad: true,
                navigationText: [
                    "<i class='glyphicon glyphicon-menu-left'></i>",
                    "<i class='glyphicon glyphicon-menu-right'></i>"
                ],
                responsive: false
            });
        });
        </script>
    </div>
</section>